
@{
    ViewBag.Title = "HowMayWeHelp";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid" style="font-weight: 500; color: #006600">
    <div class="display-4">How May We Help?</div>
    <form class="form-group" style="margin-top: 1%;">
        <div class="row">
            <div class="col-sm-3">
                <label>Name</label>
                <input class="form-control form-control-lg " type="text" placeholder="Enter Name Here" id="name-input" style=" margin-bottom: 10px">
            </div>
            <div class="col-sm-3">
                <label>City</label>
                <input class="form-control form-control-lg" type="text" placeholder="Enter City Here" id="city-input" style="margin-bottom: 10px" />
            </div>
        </div>
        <div class="row">
            <label class="col">Contact Preference</label>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <select class="custom-select text-box " id="email-or-phone-input">
                    <option selected>Preferences</option>
                    <option value='1'>Phone</option>
                    <option value='2'>E-Mail</option>
                </select>
            </div>

        </div>
    </form>
</div>
