
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">
    <div class="row">
        <div class="col-3 m-5">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-header">Mission Statement</h5>
                    <div class="card-text m-2">
                        Client Home Healthcare is dedicated to providing professional
                        care with sensitivity to the needs of those we serve.
                    </div>
                </div>
            </div>
        </div>
        <div class="col">

        </div>
    </div>
</div>
