
@{
    Layout = "~/Views/Shared/_LayoutNoNav.cshtml";
}
<link rel="stylesheet" href="~/Scripts/Stylesheets/index.css" />
<script src="~/Scripts/src/words.js"></script>

<body class="bg-fa-navy"></body>
<div class="modal fade" id="wordAlert" tabindex="-1" role="dialog" aria-labelledby="wordAlert" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Warning</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="text-align:center">
                This Word Is from Urban Dictionary And May Contain Sensitive Material
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" style="font-family:Roboto" onclick="displayWord()" data-dismiss="modal">Continue</button>
                <button type="button" class="btn btn-primary" style="font-family:Roboto" data-dismiss="modal">Nevermind</button>
            </div>
        </div>
    </div>
</div>



<article class="mw9 relative">
    <div class="pa6 bg-fa-navy" style="color:white; position: relative; z-index:1; margin-right: 0rem ">
        <div style="color:white">
            <div>
                <h2 id="word" style="text-transform: uppercase; font-weight: bold">
                    Word
                </h2>
            </div>
            <hr class="my-4" style="border-color: white">
            <h4 id="desc">Definition</h4>
        </div>
        <div class="form-group center" style="margin-bottom:10px">
            <input class="form-control form-control-lg " type="text" placeholder="Search" id="urbanSearch" style="margin-top: 4rem; margin-bottom: 10px">
            <div class="invalid-feedback" id="urbanSearchFeedback" style="margin-top: 0px; margin-bottom:10px; font-family:Roboto"></div>
            <div class="btn btn-primary wordButton" id="searchUB" style="font-family: Roboto; margin-top: 0px;border-color:white" value="Submit" onclick="getWord(document.getElementById('urbanSearch').value)">Search</div>
        </div>
        <a class="btn btn-primary wordButton" style="border-color:white;margin-top: 0px; font-family: Roboto;" role="button" data-toggle="modal" data-target="#wordAlert">Random Word</a>
    </div>
</article>


<script>

    document.getElementById("urbanSearch").addEventListener('keypress', function (event) {
        if (event.keyCode == 13) {
            document.getElementById("searchUB").click();
        }
    })
    function allDef() {
        var loc = document.getElementById('word').innerHTML;
        if (loc != null) {
            window.location.href = "/Home/Full/" + loc;
        }
    }
</script>

