.services:hover {
	background-color: dimgray;
}

.services:active {
	background-color: darkgray;
}

.wide {
	width: 100%;
}

.text-box {
	width: 25%;
	font-size: 75%;
}

.toggle:hover {
	color: #e5cde7;
}

.toggle:active {
	color: #78567a;
}

.btn-form {
	font-size: 100%;
	height: 100%;
	width: 37%;
	margin-left: 2px
}

.form-font {
	font-size: 80%;
}
